</section>
<script src="cookie.js">
</script>

<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/cookie-consent-box@2.3.1/dist/cookie-consent-box.min.css" />
<script defer src="https://cdn.jsdelivr.net/npm/cookie-consent-box@2.3.1/dist/cookie-consent-box.min.js"></script>
</body>
<footer id="contact">
<div class="container-fluid">
  <div class="row">
    <div class="col col-xl-4">
      <a href="https://goo.gl/maps/vrNMqZq1k4Qqs9ww6" target="_blank">Gujski, Zdebiak <br>Kancelaria adwokacko-radcowska <br>
        Spółka partnerska<br />
        KRS: 0000298366 <br /><br>
        ul. Alzacka 21 <br>
        03- 972 Warszawa</a>
    </div>
    <div class="col col-xl-4">




      <p>
        <a href="https://www.facebook.com/GujskiZdebiak" target="_blank"><i class="fab fa-facebook-f social_media_icons"></i></a>
        <a href="https://linkedin.com" target="_blank"><i class="fab fa-linkedin social_media_icons"></i></a>
        <a href="mailto:kancelaria@gujskizdebiak.pl" target="_blank"><i class="fas fa-envelope social_media_icons"></i></a>
        <a href="tel:+48228270166"><i class="fas fa-phone-square social_media_icons"></i></a>
      </p>
      <p class="copyright">created by <a href="http://www.highlightsphoto.pl">Highlights Sp. z o.o.</a> 2020 © </p>
    </div>
    <div class="col col-xl-4">
      <a href="mailto:kancelaria@gujskizdebiak.pl" target="_blank"> kancelaria@gujskizdebiak.pl</a>
      <br>
      tel.:<a href="tel:+48228270166"> (+48) 22 827 01 66</a><br>
      tel./fax: <a href="tel:+48226177227"> (+48) 22 617 72 27</a><br>
    </div>

  </div>
</div>
</footer>


</html>
