<%- include('partials/header') %>
<div class="wypelnienie">

</div>
  <section id="kancelaria">
    <div class="jumbotron jumbotron-fluid custom-jumbotron">
      <div class="container">


            <img src="images/logo.png" alt="Kancelaria Adwokacko-Radcowska Gujski Zdebiak">

            <div class="row">
              <div class="col col-xl-3">
                <a href="#zarzad">Członkowie Zarządów</a>
              </div>
              <div class="col col-xl-3">
                <a href="#menedzerowie">Menedżerowie</a>
              </div>
              <div class="col col-xl-3">
                <a href="#pracownicy">Pracownicy</a>
              </div>
              <div class="col col-xl-3">
                <a href="#zleceniobiorcy">Zleceniobiorcy</a>
              </div>
            </div>
            <div class="row">
              <div class="col col-xl-3">
                <a href="#pracodawcy">Pracodawcy</a>
              </div>
              <div class="col col-xl-3">
                <a href="#zwiazki">Związki Zawodowe</a>
              </div>
              <div class="col col-xl-3">
                <a href="#przedstawiciele">Przedstawiciele Pracowników</a>
              </div>
              <div class="col col-xl-3">
                <a href="#inne">Inne sprawy</a>
              </div>
            </div>

        </div>
        <hr class="my-4">

        <div class="container-fluid">

          <p>Gujski, Zdebiak Kancelaria adwokacko-radcowska spółka partnerska powstała w dniu 5 lutego 2008 roku jako wspólna firma doświadczonych prawników. Specjalizujemy się w dziedzinie prawa pracy i ubezpieczeń społecznych oraz elastycznych form
            zatrudniania takich, jak kontrakty menedżerskie i inne umowy cywilnoprawne (zlecenie, dzieło, agencja, umowy nienazwane), w szczególności zawierane z kadrę menedżerską wysokiego szczebla.
          </p>
          <p>
            Nasza ugruntowana i niekwestionowana pozycja wynika z doświadczeń zgromadzonych przy obsłudze rodzimych i międzynarodowych firm, działających w różnych formach oraz sektorach gospodarki, a także osób indywidualnych (pracowników,
            menedżerów, członków zarządu) oraz związków zawodowych.
          </p>
          <p>Mamy też ogromne doświadczenie procesowe, które zdobyliśmy reprezentując pracodawców, pracowników, menedżerów, członków zarządu, zleceniodawców i zleceniobiorców przed sądami pracy, sądami cywilnymi i gospodarczymi, a także przed Sądem
            Najwyższym i sądami polubownymi.
          </p>
          <p>Zdobyte w związku z tym doświadczenie i znajomość oczekiwań dwóch stron stosunku pracy (pracodawcy i pracownika) dają nam możliwość oceny ryzyka związanego z szeroko pojętym zatrudnieniem i umiejętność przewidywania sytuacji, jakie mogą
            wystąpić w trakcie współpracy stron lub po jej zakończeniu, a w konsekwencji formułowania odpowiednich postanowień umownych, które pozwolą ograniczyć ryzyko sporu. Z kolei doświadczenie procesowe pozwala nam na reprezentowanie klientów
            przed sądami w sposób zapewniający maksymalną ochronę ich interesów.
          </p>
          <p>Zajmujemy się też szeroko rozumianym prawem cywilnym i gospodarczym.
          </p>
          <p>Reprezentujemy także naszych Klientów w postępowaniach karnych (na etapie postępowania przygotowawczego, jak i przed sądem) w sprawach dotyczących wykroczeń i przestępstw przeciwko prawom pracowników.
          </p>
          <p>Skorzystały już z naszej pomocy polskie i zagraniczne firmy farmaceutyczne, banki i inne instytucje finansowe, firmy informatyczne i telekomunikacyjne, zajmujące się energetyką, spółki giełdowe, w tym z udziałem Skarbu Państwa, spółki
            komunalne, firmy produkcyjne, handlowe, logistyczne, budowlane, z branży motoryzacyjnej, instytucje kultury, instytuty badawcze, szpitale i prywatne firmy świadczące usługi medyczne, szkoły, urzędy publiczne, agencje państwowe, a także
            indywidualni przedsiębiorcy, a nawet inne kancelarie prawne w sprawach związanych z zatrudnieniem ich pracowników i współpracowników.
          </p>
          <p>Reprezentowaliśmy w negocjacjach i sporach sądowych prezesów i członków zarządów największych spółek działających na polskim rynku, szefów i dyrektorów wielu instytucji, menedżerów i specjalistów zatrudnionych na podstawie umów o pracę
            oraz kontraktach menedżerskich i innych umowach także prowadzących samodzielną działalność gospodarczą.
          </p>
        </div>
        <hr class="my-4">
        <article id="zarzad">
          <h3>Członkowie zarządów</h3>
          <p>Nasza pomoc prawna obejmuje doradztwo i reprezentację między innymi w następujących sprawach:
            <ul>
              <li>Powoływanie, odwołanie i rezygnacja z członkostwa w zarządzie</li>
              <li>Odpowiedzialność wobec spółki</li>
              <li>Odpowiedzialność wobec wierzycieli spółki, urzędu skarbowego i ZUS</li>
              <li>Reputacja i ochrona dóbr osobistych </li>
              <li>Zatrudnienie? Umowa o pracę a kontrakt menedżerski</li>
              <li>Zasady wynagradzania</li>
              <li>Premie i programy motywacyjne</li>
              <li>Ustawy kominowe</li>
              <li>Dodatkowe warunki umowy (urlop, chorobowe, ubezpieczenia itd.)</li>
              <li>Nadgodziny - niewykluczone</li>
              <li>Zakaz konkurencji</li>
              <li>Rozwiązanie, wypowiedzenie, odprawy</li>
              <li>Spory ze spółką</li>
              <li>Zaskarżanie uchwał organów spółki</li>
            </ul>
          </p>
          <iframe width="1067" height="600" src="https://www.youtube.com/embed/Hme16pUvBHY" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

        </article>
        <hr class="my-4">
        <article id="menedzerowie">
          <h3>Menedżerowie</h3>
          <p>Nasza pomoc prawna obejmuje doradztwo i reprezentację między innymi w następujących sprawach:
            <ul>
              <li>Umowa o pracę a kontrakt menedżerski </li>
              <li>Ustalanie warunków umowy </li>
              <li>Zasady wynagradzania</li>
              <li>Nadgodziny? - niewykluczone</li>
              <li>Premie i programy motywacyjne</li>
              <li>Dodatkowe warunki umowy (urlop, ubezpieczenia itd.)</li>
              <li>Zakaz konkurencji</li>
              <li>Naruszenie dóbr osobistych, dyskryminacja, mobbing</li>
              <li>Rozwiązanie, wypowiedzenie, odprawy</li>
              <li>Odpowiedzialność cywilna</li>
              <li>Spory – przed jakim sądem</li>
              <li>Sprawy o objęcie ubezpieczeniem społecznym</li>
              <li>Sprawy o zasiłki, w tym chorobowe i macierzyńskie</li>
              <li>Sprawy emerytalne</li>
            </ul>
          </p>
        </article>
        <hr class="my-4">
        <article id="pracownicy">
          <h3>Pracownicy</h3>
          <p>Nasza pomoc prawna obejmuje doradztwo i reprezentację między innymi w następujących sprawach:
            <ul>
              <li>Ustalanie warunków zatrudnienia, w tym przygotowywanie projektów umów </li>
              <li>Zmiany warunków umów, w tym wypowiedzenia zmieniające</li>
              <li>Pozew o ustalenie stosunku pracy</li>
              <li>Rozwiązanie umowy o pracę przez pracodawcę i przez pracownika</li>
              <li>Wynagrodzenie, w tym premie</li>
              <li>Nadgodziny</li>
              <li>Odprawy, w tym w ramach programów dobrowolnych odejść i zwolnień grupowych</li>
              <li>Zakaz konkurencji</li>
              <li>Mobbing, dyskryminacja, naruszenie dóbr osobistych</li>
              <li>Odszkodowania z tytułu wypadków przy pracy</li>
              <li>Sprawy o zasiłki, w tym chorobowe i macierzyńskie</li>
              <li>Sprawy emerytalne </li>
            </ul>
          </p>
        </article>

        <hr class="my-4">
        <article id="zleceniobiorcy">
          <h3>Zleceniobiorcy</h3>
          <p>Nasza pomoc prawna obejmuje doradztwo i reprezentację między innymi w następujących sprawach:
            <ul>
              <li>Umowa zlecenia, o dzieło, agencyjna czy inna</li>
              <li>Ustalanie warunków umowy</li>
              <li>Zasady wynagradzania</li>
              <li>Premie i programy motywacyjne</li>
              <li>Dodatkowe warunki umowy (urlop, ubezpieczenia itd.)</li>
              <li>Zakaz konkurencji i wyłączność</li>
              <li>Naruszenie dóbr osobistych, dyskryminacja</li>
              <li>Rozwiązanie, wypowiedzenie, odprawy</li>
              <li>Odpowiedzialność cywilna</li>
              <li>Spory – przed jakim sądem</li>
              <li>Sprawy o objęcie ubezpieczeniem społecznym</li>
              <li>Sprawy o zasiłki, w tym chorobowe i macierzyńskie</li>
              <li>Sprawy emerytalne</li>
            </ul>
          </p>
        </article>
        <hr class="my-4">
        <article id="pracodawcy">
          <h3>Pracodawcy</h3>
          <p>Nasza praktyka z zakresu prawa pracy obejmuje bieżącą, kompleksową obsługę we wszystkich aspektach zarządzania HR na obszarze całego kraju, w szczególności:
            <ul>
              <li>przygotowywanie dokumentacji związanej ze stosunkiem pracy, w tym: sporządzanie umów o pracę, umów o zakazie konkurencji, oświadczeń pracodawcy w przedmiocie rozwiązania umów o pracę;</li>
              <li>doradztwo w zakresie kształtowania zasad wynagradzania, systemów premiowych i motywacyjnych pracowników i kadry menedżerskiej;</li>
              <li>sporządzanie i negocjowanie regulaminów pracy, regulaminów wynagradzania, regulaminów zakładowego funduszu świadczeń socjalnych, układów zbiorowych pracy;</li>
              <li>reprezentowanie i wsparcie pracodawców w negocjacjach warunków zatrudnienia i poszczególnych postanowień umów z pracownikami lub kandydatami na pracowników;</li>
              <li>kompleksowe wsparcie prawne w procesach restrukturyzacji zatrudnienia, w szczególności w zakresie konieczności przeprowadzenia przez pracodawcę zwolnień objętych reżimem ustawy o szczególnych zasadach rozwiązywania z pracownikami
                stosunków pracy z przyczyn niedotyczących pracowników, przygotowanie wszelkiej dokumentacji związanej z postępowaniem w sprawie zwolnień grupowych obejmującej w szczególności konsultacje ze związkami zawodowymi, pisma rozwiązujące z
                pracownikiem umowę o pracę;</li>
              <li>reprezentowanie i wsparcie pracodawców w kontaktach ze związkami zawodowymi, uczestnictwo w negocjacjach dotyczących układów zbiorowych pracy i innych porozumień zbiorowych, a także w sporach zbiorowych;</li>
              <li>przygotowanie opinii prawnych w zakresie bieżącego stosowania przez pracodawców kodeksu pracy oraz kodeksu cywilnego (w zakresie zawierania umów cywilnoprawnych) i szeroko pojętego prawa pracy;</li>
              <li>doradztwo i wsparcie w zakresie zatrudniania cudzoziemców;</li>
              <li>bieżące informowanie pracodawców, z którymi współpracujemy, o planowanych zmianach legislacyjnych w zakresie prawa pracy i ubezpieczeń społecznych oraz dostosowywanie wszelkich regulaminów i dokumentów do tych zmian;</li>
              <li>prowadzenie szkoleń dla grup pracowników wskazanych przez pracodawcę;</li>
              <li>wsparcie merytoryczne i doradztwo prawne z zakresu prawa pracy i ubezpieczeń społecznych w procesach due diligence, przy przejęciach zakładów pracy;</li>
              <li>reprezentowanie pracodawców we wszystkich sądowych sporach pracowniczych, a także w sporach pozasądowych (np. w postępowaniach mediacyjnych), w tym w sprawach związanych z rozwiązaniem stosunku pracy, o zapłatę wynagrodzenia, także
                wynagrodzenia z tytułu godzin nadliczbowych, ustaleniem istnienia stosunku pracy, dyskryminacją oraz mobbingiem, wypadkami przy pracy, zakazem konkurencji i innych;</li>
              <li>bieżące wsparcie w postępowaniach kontrolnych prowadzonych przez PIP oraz ZUS, jak i sądowych w zakresie zaskarżenia decyzji ZUS;</li>
              <li>przygotowanie dokumentacji związanej z elastycznymi formami zatrudniania, jak opracowanie listów intencyjnych, a następnie kontraktów menedżerskich, umów cywilnoprawnych (zlecenie, dzieło, agencja i inne w tym nienazwane), oraz ich
                rozwiązywanie;</li>
              <li>przygotowanie umów o zakazie konkurencji w trakcie obowiązywania umów jak i po ich rozwiązaniu;</li>
              <li>doradztwo w zakresie zastosowania ustaw kominowych</li>
            </ul>
          </p>
        </article>
        <hr class="my-4">
        <article id="zwiazki">
          <h3>Związki zawodowe</h3>
          <p>Nasza pomoc prawna obejmuje doradztwo i reprezentację między innymi w następujących sprawach:
            <ul>
              <li>Tworzenie, przygotowywanie statutu, projektów uchwał</li>
              <li>Organizacja międzyzakładowa</li>
              <li>Rejestracja związku zawodowego</li>
              <li>Negocjacje układów zbiorowych pracy, regulaminów pracy i wynagradzania oraz innych porozumień z pracodawcami</li>
              <li>Udział w negocjacjach w sprawie zwolnień grupowych</li>
              <li>Zakładowy Fundusz Świadczeń Socjalnych</li>
              <li>Spory zbiorowe</li>
              <li>Przejście zakładu pracy</li>
              <li>Wybory społecznych inspektorów pracy</li>
              <li>Reprezentowanie w sprawach sądowych </li>
            </ul>
          </p>
        </article>

        <hr class="my-4">
        <article id="przedstawiciele">
          <h3>Przedstawiciele pracowników</h3>
          <p>Nasza pomoc prawna obejmuje doradztwo i reprezentację między innymi w następujących sprawach:
            <ul>
              <li>Wybór przedstawicieli</li>
              <li>Kontakty z reprezentowanymi pracownikami</li>
              <li>Negocjacje z pracodawcą </li>
            </ul>
          </p>
        </article>
        <hr class="my-4">
        <article id="inne">
          <h3>Inne sprawy</h3>
          <p>Prowadzimy również sprawy:
            <ul>
              <li>związane z zakładaniem oraz przekształcaniem spółek i ich bieżącą obsługą</li>
              <li>dotyczące zwalczania nieuczciwej konkurencji</li>
              <li>związane z odzyskiwaniem nieruchomości, w tym tzw. nieruchomości dekretowych</li>
              <li>związane z nabywaniem i zbywaniem nieruchomości, w tym przygotowaniem stosownych umów</li>
              <li>dotyczące prac budowlanych i remontowych</li>
              <li>dotyczące najmu, w szczególności lokali</li>
              <li>o zasiedzenie</li>
              <li>spadkowe, w tym o stwierdzenie nabycia spadku i dział spadku</li>
              <li>o zniesienie współwłasności</li>
              <li>o podział małżeńskiego majątku wspólnego</li>
              <li>windykacyjne i egzekucyjne</li>
            </ul>
          </p>
        </article>
      </div>
    </div>
  </section>
  <%- include('partials/footer') %>
