<%- include('partials/header') %>
  <section id="kontakt">
      <div class="container-fluid brown">
        <div class="row">
          <div class="col col-xl-7">
            <p><a href="https://goo.gl/maps/vrNMqZq1k4Qqs9ww6" target="_blank">
          <em>  Gujski, Zdebiak <br>Kancelaria adwokacko-radcowska, <br>
              Spółka partnerska</em><br />
              KRS: 0000298366 <br /><br>


            ul. Alzacka 21 <br>
            03- 972 Warszawa</a>
</p>
<p>
  <br>
  tel.: <a href="tel:+48228270166"> (+48) 22 827 01 66</a><br>
  tel./fax: <a href="tel:+48226177227"> (+48) 22 617 72 27</a><br>
            <a href="mailto:kancelaria@gujskizdebiak.pl" target="_blank"> kancelaria@gujskizdebiak.pl</a>
</p>

            <p>
              <a href="https://www.facebook.com/GujskiZdebiak" target="_blank"><i class="fab fa-facebook-f social_media_icons"></i></a>
              <a href="https://linkedin.com" target="_blank"><i class="fab fa-linkedin social_media_icons"></i></a>
              <a href="mailto:kancelaria@gujskizdebiak.pl" target="_blank"><i class="fas fa-envelope social_media_icons"></i></a>
              <a href="tel:+48228270166"><i class="fas fa-phone-square social_media_icons"></i></a>
            </p>
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2443.963778314656!2d21.061821315796447!3d52.22587587975962!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x471ecd0991154b17%3A0xa38560c4fb8182f0!2sGujski%2C%20Zdebiak.%20Kancelaria%20adwokacko%20-%20radcowska!5e0!3m2!1spl!2spl!4v1586428773562!5m2!1spl!2spl" width="400" height="300" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>

          </div>
          <div class="col col-xl-4">
<form class="formularz" action="/powiadomienia" method="post">
  <label for="wiadomosc"><h2>W czym możemy pomóc?</h2></label>
  <br>
  <textarea class="form-control" name="wiadomosc" rows="18"  placeholder="W czym możemy pomóc?"></textarea>
  <br><br>
  <input type="email" class="form-control" name ="mail" placeholder="@">  <br><br>

  <input class="btn btn-lg custom-button-form" type="submit" value="Wyślij">

</form>


          </div>

        </div>


      </div>

  </section>
  <%- include('partials/footer') %>
