<%- include('partials/header') %>
  <div class="wypelnienie">

  </div>
  <div class="jumbotron jumbotron-fluid custom-jumbotron">
    <div class="container">
  <h1> <%= kontakt %> </h1>
  <p> <%- tresc %> </p>
    <p class="read-more">
    <span class="btn btn-lg custom-button" role="button" onclick="javascript:history.back()">Powrót</span>
  </p>
</div>
</div>

  <%- include('partials/footer') %>
