<%- include('partials/header') %>
<div class="wypelnienie">

</div>
  <div class="jumbotron jumbotron-fluid custom-jumbotron">
    <div class="container">
      <div class="card">
        <div class="card-body">

          <a href = "/filmy">
          <span class="btn btn-lg custom-button btn-block" role="button">Edytuj filmy</span>
          </a>
          <br>
          <a href = "/artykuly">
          <span class="btn btn-lg custom-button btn-block" role="button">Edytuj artykuły</span>
          </a>
          <br>
          <a href = "/powiadomienia">
          <span class="btn btn-lg custom-button btn-block" role="button">Sprawdź wiadomości</span>
          </a>

        </div>
      </div>
    </div>

  </div>

<%- include('partials/footer') %>
