<%- include('partials/header') %>
  <div class="wypelnienie">

  </div>
  <section id="team">

    <div class="row">

      <div class="col col-xl-6">
        <h3 class="team-name">Waldemar Gujski</h3>
        <img class="team-image" src="images/waldemar-gujski.png" alt="Waldemar Gujski">

        <p class="team-text">adwokat, partner Kancelarii adwokacko-radcowskiej GujskiZdebiak w Warszawie. Dysponuje rozległym doświadczeniem we wszelkich kwestiach związanych ze stosowaniem prawa pracy zarówno na etapie doradztwa, jak i w postępowaniu sądowym.
          <br><br>W ostatnich latach kilkakrotnie Chambers & Partners (najbardziej szanowany międzynarodowy podmiot oceniający firmy prawnicze oraz prawników działających w różnych dziedzinach prawa) uhonorował adwokata Waldemara Gujskiego uznając go jedynym w Polsce Senior Statesman w dziedzinie prawa pracy, a tym samym przyznając mu status najbardziej zasłużonego prawnika w tej dziedzinie.  Jest twórcą i negocjatorem pakietów socjalnych, w tym takich, które znalazły szczególnie szeroki, pozytywny odzew w opinii publicznej.
          <br><br>Jest autorem prawno-pracowniczych analiz prywatyzacyjnych firm polskich oraz umów polskich pracowników na wystawę EXPO 2000.
          <span id="team-text-1"  class="invisible">
<br><br>Waldemar Gujski jest doradcą i pełnomocnikiem procesowym firm polskich i zagranicznych, polskiej kadry zarządzającej, a także czołowych przedstawicieli świata mediów, biznesu, kultury i polityki. Jest on również wykładowcą w Okręgowej Radzie Adwokackiej w Warszawie, na Podyplomowych Studiach Akademii Spółek działającej w Szkole Głównej Handlowej oraz wykładowcą na seminariach firm polskich i zagranicznych. Stale współpracuje z redakcjami: „Rzeczpospolitej”, „Gazety Prawnej”, „Gazety Wyborczej”, stacjami telewizyjnymi i radiowymi odnosząc znaczne sukcesy na polu szerzenia wiedzy prawniczej.
<br><br>Już w latach 90. propagował formy elastycznego zatrudniania w gospodarce, w tym samozatrudnienie, zdecydowanie o wiele lat wyprzedzając w tym zakresie rozwiązania legislacyjne. Będąc rzecznikiem zatrudniania kadry menedżerskiej na podstawie cywilnoprawnych kontraktów stworzył nowatorskie opracowanie tego problemu, które pod nazwą „Kontrakty menedżerskie oraz inne umowy cywilnoprawne o świadczenie pracy” ukazało się na rynku wydawniczym.
<br><br>W 2014 roku był członkiem kilkuosobowego zespołu ekspertów pracujących w Kancelarii Prezydenta RP nad projektem zmian do kodeksu pracy.
<br><br>Współautor komentarza do Kodeksu pracy, wydanego w latach 1996, 1999 i 2006 nakładem Wydawnictwa Zrzeszenia Prawników Polskich, a także kilkudziesięciu publikacji z zakresu prawa pracy, prawa cywilnego oraz styku tych dwóch dziedzin prawa.
<br><br>W 2016 i 2017 roku Chambers & Partners (najbardziej szanowany międzynarodowy podmiot oceniający firmy prawnicze oraz prawników działających w różnych dziedzinach prawa) uhonorował adwokata Waldemara Gujskiego uznając go jedynym w Polsce Senior Statesman w dziedzinie prawa pracy, a tym samym przyznając mu status najbardziej zasłużonego prawnika w tej dziedzinie.
<br><br>W latach 2005, 2006 i 2007 zajmował pierwsze miejsce w ogólnopolskich rankingach w dziedzinie prawa pracy organizowanych przez gazetę „Rzeczpospolita”. Do chwili obecnej - z rekomendacji wiodących na rynku kancelarii – co rok zajmuje czołowe miejsca w rankingach gazety „Rzeczpospolita”. W 2006 r. został również zwycięzcą takiego rankingu prowadzonego przez „Gazetę Prawną” oraz uznany prawnikiem roku.
<br><br>Adwokat Waldemar Gujski w 2010 r. otrzymał złoty medal Akademii Polskiego Sukcesu za wybitne osiągnięcia w zakresie popularyzacji prawa pracy.
</span></p><br>
<p class="read-more">
  <span id="1" class="btn btn-lg custom-button" role="button">Przeczytaj całość</span>
</p>
      </div>

      <div class="col col-xl-6">
        <h3 class="team-name">Dawid Jakub Zdebiak</h3>



        <img class="team-image" src="images/dawid-zdebiak.png" alt="Dawid Jakub Zdebiak">
        <p class="team-text">radca prawny, partner w Kancelarii adwokacko-radcowskiej
          GujskiZdebiak w Warszawie. Specjalizuje się w prawnych aspektach
          świadczenia pracy zarówno w ramach stosunków pracy, jak i na
          podstawie umów prawa cywilnego, w tym kontraktów menedżerskich,
          umów zlecenia, o dzieło. W związku z tym zajmuje się sprawami
          z zakresu prawa pracy, pogranicza prawa pracy i prawa cywilnego,
          a także prawa gospodarczego. Prowadzi również sprawy cywilne,
          spadkowe, dotyczące rozliczeń, a także nieruchomości.
          <br><br>W latach 1999-2005 wykonywał zawód sędziego orzekając w wydziale
          pracy oraz w wydziałach cywilnych. W 2005 roku rozpoczął praktykę
          jako radca prawny.Zdobyte doświadczenie wykorzystuje
          w szczególnie skomplikowanych procesach, prowadząc sprawy
          w sądach pracy, cywilnych i gospodarczych.
          <br><br> Specjalizuje się w przygotowywaniu skarg kasacyjnych do Sądu Najwyższego. Występuje również przed sądami polubownymi.
          <span id="team-text-2" class="invisible">

          <br><br>Doradza i udziela pomocy prawnej członkom zarządów, menedżerom, pracownikom, a także
          pracodawcom, zaś w sprawach cywilnych i gospodarczych osobom fizycznym i podmiotom gospodarczym.
          Jego praktyka obejmuje doradztwo prawne na rzecz znanych polskich i zagranicznych firm i menedżerów
          oraz na rzecz związków zawodowych. Uczestniczy w negocjowaniu i przygotowywaniu wewnętrznych
          aktów prawa pracy, przeprowadzaniu procedur zwolnień grupowych, przekształceniach zakładów pracy.
          <br><br>Zajmuje się także opracowywaniem i negocjowaniem skomplikowanych umów o pracę i kontraktów
          menedżerskich, w tym zawieranych w oparciu o przepisy kolejnych ustaw kominowych, a także innych
          umów, w tym dotyczących rozbudowanych systemów premiowania czy zakazów konkurencji.
          <br><br>Jest cenionym wykładowcą. Regularnie wypowiada się w prasie w charakterze eksperta w sprawach
          pracowniczych i procesowych.
        </span></p><br><br>
          <p class="read-more">
            <span id="2" class="btn btn-lg custom-button" role="button">Przeczytaj całość</span>
          </p>
      </div>
</div>
<div class="row">


      <div class="col col-xl-4">
        <h3 class="team-name">Jarosław Dąbrowski</h3>




        <img class="team-image" src="images/jaroslaw-dabrowski.png" alt="Jarosław Dąbrowski">

        <p class="team-text">adwokat, specjalizuje się od niemal 20 lat w zagadnieniach ze styku
          prawa pracy, spółek oraz karnego dotyczących odpowiedzialności
          cywilnej i karnej kadry zarządzających. Ponadto prowadzi
          skomplikowane sprawy z zakresu obrotu nieruchomościami.
          Jest autorem licznych skarg kasacyjnych uwzględnianych przez
          Sąd Najwyższy w publikowanych orzeczeniach. Uczestniczył
          w pracach m.in. nad ustawą prawo działalności gospodarczej
          czy kodeks spółek handlowych.
        </p>
      </div>

      <div class="col col-xl-4">
        <h3 class="team-name">Bartłomiej Jędrzejak</h3>
        <img class="team-image" src="images/bartlomiej-jedrzejak.png" alt="Bartłomiej Jędrzejak">

        <p class="team-text">adwokat, posiada kilkunastoletnie doświadczenie w obsłudze prawnej
          podmiotów gospodarczych z zakresu prawa pracy, prawa
          gospodarczego i cywilnego. Praktyka zawodowa obejmuje również
          świadczenie pomocy na rzecz osób fizycznych. Posiada bogate
          doświadczenie procesowe, także w zakresie sporządzania skarg
          kasacyjnych. Autor publikacji z zakresu czasu pracy kierowców,
          redaktor merytoryczny Poradnika Przewoźnika oraz komentator
          Dziennika Rzeczpospolita. </p>
      </div>



      <div class="col col-xl-4">
        <h3 class="team-name">Marcin Ziółkowski</h3>
        <img class="team-image" src="images/marcin-ziolkowski.png" alt="Marcin Ziółkowski">

        <p class="team-text">adwokat, od 10 lat specjalizuje w sprawach z zakresu prawa pracy.
          Zajmuje się kompleksowym doradztwem na rzecz pracodawców
          w sprawach pracowniczych, w tym w zakresie przygotowania
          wewnętrznych aktów prawa pracy. Prowadzi intensywną praktykę
          procesową, reprezentując zarówno pracodawców, jak
          i pracowników. Występuje przed sądami również w sprawach
          cywilnych, a także zajmuje się kompleksowym wsparciem
          wierzycieli w postępowaniach windykacyjnych, w tym
          egzekucyjnych, a także w ramach postępowań upadłościowych. </p>
      </div>
    </div>
    <div class="row">
      <div class="col col-xl-4">
        <h3 class="team-name">Waldemar Urbanowicz</h3>
        <img class="team-image" src="images/waldemar-urbanowicz.png" alt="Waldemar Urbanowicz">
        <p class="team-text">adwokat, specjalista z zakresu ubezpieczeń społecznych oraz
          prawa pracy, którymi zajmuje się już ponad 10 lat. Posiada bogate
          doświadczenie procesowe, jak też zawodowe w obszarze
          związanym ze sprawami sądowymi prowadzonymi m.in. przeciwko
          Zakładowi Ubezpieczeń Społecznych. Równolegle specjalizuje się w
          szeroko pojętym obszarze dotyczącym związków zawodowych, w
          tym w zakresie prowadzenia negocjacji z partnerami społecznymi.
          Występuje przed sądami powszechnymi oraz sądami
          administracyjnymi. </p>
      </div>


      <div class="col col-xl-4">
        <h3 class="team-name">Marta Stelęgowska</h3>
        <img class="team-image" src="images/marta-stelegowska.png" alt="Marta Stelęgowska">

        <p class="team-text">radca prawny, posiada wiedzę oraz doświadczenie zawodowe z
          zakresu prawa pracy, prawa ubezpieczeń społecznych, prawa
          zamówień publicznych. Reprezentuje klientów, przedsiębiorców jak i
          osoby fizyczne, przed sądami powszechnymi oraz administracyjnymi
          m.in. w sprawach z zakresu prawa pracy oraz prawa ubezpieczeń
          społecznych. </p>
      </div>

      <div class="col col-xl-4">
        <h3 class="team-name">Marlena Mejsak</h3>
        <img class="team-image" src="images/marlena-mejsak.png" alt="Marlena Mejsak">
        <p class="team-text">aplikant radcowski przy Okręgowej Izbie Radców Prawnych w
          Warszawie. Z wyróżnieniem ukończyła Wydział Prawa i Administracji
          Uniwersytetu Warszawskiego. Zajmuje się sprawami z zakresu prawa
          pracy, prawa gospodarczego, w tym prawa spółek, a także prawa
          cywilnego. Gruntowne wykształcenie uniwersyteckie w dziedzinie
          postępowania cywilnego rozwija obecnie w praktyce.</p>
      </div>
    </div>
    <div class="row">
      <div class="col col-xl-4">
        <h5>Z kancelarią współpracuje:</h5>
        <h3 class="team-name">Piotr Wojciechowski</h3>
        <img class="team-image" src="images/piotr-wojciechowski.png" alt="Piotr Wojciechowski">

        <p class="team-text">adwokat, były inspektor pracy, publicysta, specjalizujący się
          w problematyce prawa pracy. W latach 1998 – 2001 pracował
          w charakterze specjalisty w Departamencie Prawa Pracy Ministerstwa
          Pracy i Polityki Społecznej. W latach 2001 -2008 był pracownikiem
          Departamentu Prawnego w Głównym Inspektoracie Pracy, od 2004 r.
          jako wicedyrektor tego departamentu był czynnie włączony we
          wszystkie jego prace, o charakterze opiniodawczym, legislacyjnym, z
          zakresu współpracy międzynarodowej a nadto sprawował nadzór nad
          działalnością kontrolną inspektorów pracy na terenie kraju. W 2006 r.
          złożył egzamin państwowy i otrzymał uprawnienia inspektora pracy.
          Autor licznych publikacji oraz uczestnik konferencji związanych ze
          stosowaniem przepisów prawa pracy w praktyce.
          Znany i ceniony wykładowca.</p>
      </div>
    </div>





  </section>
  <%- include('partials/footer') %>
